---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<a href="/" class="site-title">{SITE_TITLE}</a>
		<div class="links">
      <HeaderLink href="/">home</HeaderLink>
			<HeaderLink href="/blog">blog</HeaderLink>
			<HeaderLink href="/projects">projects</HeaderLink>
			<HeaderLink href="/about">about</HeaderLink>
			<HeaderLink href="/uses">uses</HeaderLink>
		</div>
	</nav>
</header>

<style>
	header {
    padding: 1em 2em;
    background: black;
  }
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
    gap: 2em;
  }
	.site-title {
		font-weight: bold;
		text-decoration: none;
		color: inherit;
	}
	.links {
		display: flex;
		gap: 2.5em;
  }

</style>
